@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  background: #ffd89b;
  background: -webkit-linear-gradient(to right, #19547b, #ffd89b);
  background: linear-gradient(to right, #19547b, #ffd89b);
}
